body
{
    background-color: honeydew;
    text-align: center;
}

.food{
    display:flex;
}

.ingredient
{
    flex:20%;
    padding:5px;
}

table, th, td {
    border: 2px solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: green;
    text-align: center;  
}
